/.DS_Store
/.eslintrc.js
/.eslintignore
/package.json
/package-lock.json
/tsconfig.json
/tsconfig.tsbuildinfo
/.idea
/node_modules

#Files
*.mp3
*.mp4
main.js
main.ts
/webpack.config.js

#Folders
/_KilroyLYK
/_KilroyProject/_Index
/_KilroyProject/_Project/$Cache
/_KilroyProject/_Project/$PublicSrc
/_KilroyProject/_Project/_Base
/_KilroyProject/_Project/_SDK
