# Public
/.DS_Store
/.eslintrc.js
/.eslintignore
/tsconfig.json
/tsconfig.tsbuildinfo
/tslint.json
/package.json
/package-lock.json
/webpack.config.js
/.idea
/node_modules

# Files
main.js
main.jsx
main.ts
main.tsx
app.vue

# Folders
/_KilroyLYK
/_KilroyProject/_Index
/_KilroyProject/_Project/$Cache
/_KilroyProject/_Project/_Base
/_KilroyProject/_Project/_SDK
$dist/

# Media
*.mp3
*.mp4
