# Public
.DS_Store
/.eslintrc.js
/.eslintignore
/tsconfig.json
/tsconfig.tsbuildinfo
/tslint.json
/package.json
/package-lock.json
/webpack.config.js
/.idea
/node_modules

# File
main.js
main.jsx
main.ts
main.tsx
app.vue

# Folder
/_KilroyLYK
/_KilroyProject/_Project/$Cache
/_KilroyProject/_Project/_Base

# Other
*.mp3
*.mp4
*.zip
